# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*~
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Dart
*.dart_tool/
.packages
.pub-preload-cache/
pubspec.lock

# Flutter generated
*.g.dart
*.freezed.dart
**/generated_plugin_registrant.dart
**/generated_plugin_registrant.h
**/GeneratedPluginRegistrant.java

# Testing
/test/.test_runner_cache/
/coverage/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Env files
.env
.env.local
.env.production


prompt.txt
